@tailwind base;
@tailwind components;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-md active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }

}

@tailwind utilities;

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #f87171;
  border-color: #f87171;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    color: #f87171;
    padding: .375rem .75rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




/* Landing page css  */
.banner-first{
  height: inherit;
  width: 100%;
  border-radius: 10px 0 0 10px; 
}
.banner-rest{
  height: 180px;
  width: 100%;
}
.homeCategory{
  padding-left: 0 !important;
  list-style: disc;
}
.homeCategory li:nth-child(1){
  list-style: none;
}
.homeCategory li{
  margin-right:30px;
}
.homeDescription .profile{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.homeInfo svg{
  margin: 0 10px;
}

.placeOffer .icon{
  margin: 0 10px;
}
.listStyleDot{
  position: relative;
}
.listStyleDot::before{
  position: absolute;
  width: 4px;
  height: 4px;
  content: "";
  top: 9px;
  left: 3px;
  margin: 0 3px;
  border-radius: 5px;
  background-color: gray;
}

/* Dashboard CSS style  */
.nk-sidebar {
  width: 15.1875rem;
  padding-bottom: 112px;
  height: 100%;
  position: fixed;
  height: 100vh;
  overflow: auto;
  top: 5rem;
  padding-top: 0;
  background: #fff;
  transition: all .2s ease;
}
.nk-nav-scroll{
  overflow: hidden;
    width: auto;
    height: 100%;
}
.nk-sidebar .metismenu{
  background-color: #fff
}
.nk-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fafafa;
}
.nk-sidebar .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
}
.metismenu {
  transition: all .4s ease-in-out;
}
.nk-sidebar .metismenu > li {
  color: #27394F;
}
.nk-sidebar .metismenu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #464a53;
}
.nav-label {
  padding: 0.8125rem 1.5625rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  color: #abafb3;
}
.nav-label {
  padding: 0.8125rem 1.5625rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  color: #abafb3;
}
.nk-sidebar .metismenu a {
  position: relative;
  display: block;
  padding: 0.8125rem 1.25rem;
  outline-width: 0;
  transition: all .3s ease-out;
  color: #464a53;
}
.content-body {
  margin-left: 15.1875rem;
  z-index: 0;
}
.card {
  margin-bottom: 30px;
  border: 0px;
  border-radius: 0.625rem;
  box-shadow: 6px 11px 41px -28px #a99de7;
}
.gradient-1, .dropdown-mega-menu .ext-link.link-1 a, .morris-hover, .datamaps-hoverover {
  background-image: linear-gradient(230deg, #759bff, #843cf6);
}
.gradient-2, .dropdown-mega-menu .ext-link.link-3 a {
  background-image: linear-gradient(230deg, #fc5286, #fbaaa2);
}
.gradient-3, .dropdown-mega-menu .ext-link.link-2 a, .header-right .icons .user-img .activity {
  background-image: linear-gradient(230deg, #ffc480, #ff763b);
}
.gradient-4, .sidebar-right .nav-tabs .nav-item .nav-link.active::after, .sidebar-right .nav-tabs .nav-item .nav-link.active span i::before {
  background-image: linear-gradient(230deg, #0e4cfd, #6a8eff);
}
.card .card-body {
  padding: 1.88rem 1.81rem;
}
